# compiled source
# ---------------
*.py[co]
__pycache__
*.com
*.class
*.dll
*.exe
*.o
*.so
*.swp
*.pyo
*.pyc
python


# archives
# --------
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


# packages
# --------
*.egg
*.egg-info
*-eggs
.eggs
dist/
sdist/
build/
parts
var
.installed.cfg


# logs, dbs
# ---------
*.log
*.sql
*.sqlite
sqlite\.db


# test, coverage output
# ---------------------
.noseids
.coverage
.tox


# translations
# ------------
*.mo


# sphinx build
# ------------
docs/_build
docs/build
.nojekyll
searchindex.js
objects.inv
/*.html
/_static/
/_sources/


# OS files
# --------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db


# COMMON IDEs
# -----------
.idea/
\.project
.project
\.pydevproject
.buildpath
.mr.developer.cfg
